@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --color_header_nav: #1f9f1f;
    --color_slider: #7DCE13;
    --color_slidebar: rgb(255, 255, 255);
    --backgound_div: #EDF8F4;
    --text_icon_color: #40AD1A;
    --text_tille: #1F1F1F;
    --color_button: #DBF3DC;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3f6e3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.header .logo {
    padding-top: 10px;
    width: 120px;
    height: 130px;
    object-fit: cover;
}

.navbar {
    padding-top: 1.5rem;
}

.navbar .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.navbar .nav li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar .nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.4s ease;
}

.navbar .nav li a:hover,
.navbar .nav li a.active {
    color: var(--text_icon_color);
}

.navbar .nav li a.active::after,
.navbar .nav li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background: #40AD1A;
}
.btn-secondary {
    color: black !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background-color: #e3f6e3 !important;
}

.btn-secondary:hover {
    color: black !important;
    background-color: #a3ef9b !important;
    border-color: #6c757d !important;
}

.header .icon_header {
    display: flex;
    align-items: center;
}

.header .icon_header a {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.header .icon_header img:hover {
    background-color: #088178;
    border-radius: 20%;
}

.header .icon_header img {
    width: 30px;
}

.search_box {
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.search_box .search_input {
    height: 40px;
    border: none;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.searchbutton {
    background-color: #a3ef9b;
    border: none;
    padding: 0 10px;
    color: black;
}

.searchbutton:hover {
    background-color: #228b22;
    color: white;
}
.search_box input {
    border-radius: 4px;
}

.search_box button {
    white-space: nowrap;
}

.logo {
    max-height: 50px;
}

.nav li {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav a:hover {
    color: #007bff;
}